# Handle line endings automatically
* text=auto

# Treat Visual Studio files as binary during merges to prevent corruption
*.sln       merge=binary
*.vcxproj   merge=binary
*.vcxproj.filters merge=binary

# Ensure C++ source files are handled as text
*.cpp      text
*.h        text
*.hlsl     text
*.hlsli    text

# Treat assets as binary data
*.jpg      binary
*.png      binary
*.dds      binary
*.ico      binary